@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* General settings for body */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background: none;
    background-color: white; /* Changed background to white */
}

/* Main content styling */
#about-content {
    padding-top: 100px;
    text-align: center;
}

/* Container for about section */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

/* Profile picture styling */
.profile-pic {
    max-width: 450px;
    margin-right: 50px;
    height: 600px;
}

/* About text styling */
.about-text {
    max-width: 600px;
    color: black;
}

/* Heading styles within the about text */
.about-text h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

/* Paragraph styles within the about text */
.about-text p {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;

}


