body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  background: none;
  background: white;
  margin: 0;
}

.projects {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.project {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.project-image-container {
  position: relative;
  width: 300px; 
  height: 300px; 
  margin-right: 40px; 
}

.project-image {
  position: relative;
  z-index: 1;
}

.project-image::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.project-description {
  max-width: 600px;
  flex-grow: 1; 
}

.project-description h3 {
  margin: 0;
  font-size: 1.5em;
  color: #000;
}

.project-description p {
  margin: 5px 0 0;
  color: #000;
}
