/* Reset some default styles */
body, h3, p {
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(130, 156, 208);
    text-align: center;
   font-size: 1.5em;
}
h2{
    color: rgb(130, 156, 208);
    /*text-align: center;*/
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    line-height: 1.6;
}
.buttons-function{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background-color: rgb(15, 47, 149);
    color: #fff;
    padding: 20px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
   
    
}

.nav-links li {
    margin-right: 20px;
    
}

.nav-links button {
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s ease;
    
}

.nav-links button:hover {
    opacity: 0.7;
}

/* Main Content styles */
#main-content {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px;
}

/* Footer styles */
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background-color: black;
    color: #fff;
    padding: 20px 0;
}
.header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.logo h1 {
    margin: 0;
    font-size: 45px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links button {
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.nav-links button:hover {
    opacity: 0.7;
}

/* Main Content styles */
#main-content {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px;
}

/* Footer styles */
footer {
    background-color: rgb(15, 47, 149);;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}